mixin info(ifBlog)
    div(class="info")
        div(class="info__wrapper")
            img(class="info__img" src="img/content/foto.jpg" alt="Omelchenko Stepan, web developer" hidden)
        if isBlog == "blog"
            h1.info__blog-title Блог
            p.info__blog-text Статьи, которые я написал
        else
            h1(class="info__header") Омельченко Степан
            p(class="info__subscribe") Личный сайт веб разработчика