.pantry__circle(hidden)
    svg.skill(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 110 110"  id="" )
        circle.skill__circle(r="45" cy="50%" cx="50%")
    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="123" height="122" viewBox="0 0 123 122" id="diagram-circle")
        defs
            path(id="3uzaa" d="M998.89 885.29a59.86 59.86 0 0 1 51.1 91.05 59.87 59.87 0 0 1-51.1 28.6A59.86 59.86 0 0 1 939 945.11a59.86 59.86 0 0 1 59.89-59.82z")
        g
            g(transform="translate(-937 -884)")
                use(fill-opacity="0" stroke="#dfdcd5" stroke-miterlimit="50" stroke-width="30" clip-path="url(&quot;#3uzab&quot;)" xlink:href="#3uzaa")