section.section-top
    div.section-top__inner
        header.section-top__header
            div.section-top__socials
                include socials
            div.section-top__menu
                include hamburger
        div.section-top__container
            include info
        div.section-top__btn
            a.section-top__next-link(href="#")
                svg.section-top__next-svg
                    use(xlink:href="./img/svg/arrow-down.svg")