section.section-top
    div.section-top__inner
        header.section-top__header
            div.section-top__socials
                include socials
            div.section-top__menu
                include hamburger
        div.section-top__container
            include info
        div.section-top__next
            a.section-top__next-link(href="#")
                svg.section-top__next-svg(width="26" height="16")
                    use(xlink:href="img/sprites/sprite.svg#arrow_down")