ul(class="socials__list")
    li(class="socials__item")
        a(class="socials__link" href="#") VK
    li(class="socials__item")
        a(class="socials__link" href="#") GIT
    li(class="socials__item")
        a(class="socials__link" href="#") IN