extends ../template 

block varibles
    -var title="About me"
block content
    .preloader(id="preloader")
        .preloader__box
            .preloader__title(id="preloader-title") 0 %
            svg.preloader__svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="95" viewBox="0 20 80 95")
                path(class="preloader__svg-path" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
                path(class="preloader__svg-path preloader__svg-path--second" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
                path(class="preloader__svg-path preloader__svg-path--third" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")
                //text(id="preloader-svg-text" transform="matrix(1 0 0 1 19.9785 20.5957)" font-family="'ArialMT'" font-size="24") 0 %
    .wrapper
        section.section.about__hero
            include ../common/hero
            +hero("hero__next", "common")
        section.about__main
            .about__traingles
                include ../common/traingle.pug                
                +traingle("traingles--about")
            .about__content
                .about__content-left
                    .about__header
                        svg.about__header-svg
                            use(xlink:href="img/sprites/sprite.svg#about_header")
                        h2.about__header-h2 Обо&nbsp;мне
                    .about__information
                        .about__information-picture(style="background-image: url('img/content/dude.jpg')")
                            img.about__information-img(src="img/content/dude.jpg", alt="web developer" hidden)
                        .about__information-content
                            h3.about__information-header Кто я
                            article.about__information-text
                                p Я веб разработчик. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. При разработке применял pug, sass, javascript, gulp.
                .about__content-right
                    .about__profit
                        h3.about__profit-header Чем я могу быть вам полезен
                        p.about__profit-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend.
                    .about__diagrams
                        ul.about__diagrams-content(id="diagrams-list")
                            li.about__diagrams-row
                                h3.about__diagrams-header Frontend
                                ul.about__diagrams-list
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title HTML5
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title CSS3
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title JavaScript
                            li.about__diagrams-row
                                h3.about__diagrams-header Backend
                                ul.about__diagrams-list
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title PHP
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title mySQL
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title Node.js & npm
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title Mongo.db
                            li.about__diagrams-row
                                h3.about__diagrams-header WorkFlow
                                ul.about__diagrams-list
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title Git
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title Gulp
                                    li.about__diagrams-item
                                        svg.about__diagrams-svg(width="110" height="110")
                                            use(xlink:href="#diagram-circle")
                                        span.about__diagrams-title Webpack
        section.section.about__map(id="map")
            .about__map-box
                h2.about__map-header Контакты
                ul.about__map-list
                    li.about__map-item
                        svg.about__map-svg(width="24" height="24")
                            use(xlink:href="img/sprites/sprite.svg#skype")
                        a.about__map-link(href="skype:skype_kdn?call") Степан Омельченко
                    li.about__map-item
                        svg.about__map-svg(width="23" height="16")
                            use(xlink:href="img/sprites/sprite.svg#envelope2")
                        a.about__map-link(href="mailto:astahov@gmail.com") omelchenko.stepan@gmail.com
                    li.about__map-item
                        svg.about__map-svg(width="17" height="20")
                            use(xlink:href="img/sprites/sprite.svg#phone2")
                        a.about__map-link(href="tel:+79312009324") +7 777 237 31 09
                    li.about__map-item
                        svg.about__map-svg(width="16" height="21")
                            use(xlink:href="img/sprites/sprite.svg#map_marker")
                        a.about__map-link(href="") г.Алма-Ата
        footer.about__footer
            include ../common/footer
        include ../common/pantry-socials.pug
        include ../common/pantry-circles.pug
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")