extends ../template

block varibles 
    -var title="My blog"
block content
    .preloader(id="preloader")
        .preloader__box
            .preloader__title(id="preloader-title") 0 %
            svg.preloader__svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="95" viewBox="0 20 80 95")
                path(class="preloader__svg-path" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
                path(class="preloader__svg-path preloader__svg-path--second" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
                path(class="preloader__svg-path preloader__svg-path--third" fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")
                //text(id="preloader-svg-text" transform="matrix(1 0 0 1 19.9785 20.5957)" font-family="'ArialMT'" font-size="24") 0 %
    .wrapper.blog
        section.blog__hero
            include ../common/hero
            +hero("hero__hidden", "blog")
        section.blog__wrapper
            .blog__main
                .blog__traingles
                    include ../common/traingle.pug                
                    +traingle("traingles--blog")
                aside.blog__sidebar
                    .blog__navigation-wrapper
                        nav.blog__navigation
                            ul.blog__navigation-list
                                li(id="0").blog__navigation-item.blog__navigation-item--active
                                    a.blog__navigation-link(href="#") Самое важное в SASS
                                li(id="1").blog__navigation-item
                                    a.blog__navigation-link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                                li(id="2").blog__navigation-item
                                    a.blog__navigation-link(href="#") Самый необходимый набор Gulp плагинов
                                li(id="3").blog__navigation-item
                                    a.blog__navigation-link(href="#") Почему я выбрал Jade
                .blog__content
                    ul.blog__content-list
                        li(data-idtitle="0").blog__content-item
                            h2.blog__content-title Самое важное в SASS
                            .blog__content-date 22 ноября 2016
                            .blog__content-text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li(data-idtitle="1").blog__content-item
                            h2.blog__content-title Приёмы в вёрстке, без которых не обходится ни один сайт
                            .blog__content-date 13 ноября 2016
                            .blog__content-text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li(data-idtitle="2").blog__content-item
                            h2.blog__content-title Самый необходимый набор Gulp плагинов
                            .blog__content-date 13 ноября 2016
                            .blog__content-text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li(data-idtitle="3").blog__content-item
                            h2.blog__content-title Почему я выбрал Jade
                            .blog__content-date 13 ноября 2016
                            .blog__content-text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        footer.blog__footer
            include ../common/footer
        include ../common/pantry-socials.pug
