extends ../template

block varibles
    -var title="Welcome Page"
block content
    section(class="welcome section")
        div(class="welcome__inner")
            div(class="welcome__container")
                header(class="welcome__header")
                    a(class="welcome__header-link authorization-btn" href="#") Авторизаваться
                div(class="welcome__box")
                    div(class="welcome__box-inner")
                        div(class="welcome__content")
                            div(class="welcome__info")
                                include ../common/info.pug
                                +info("welcome")
                            div(class="welcome__content-socials socials")
                                include ../common/socials.pug
                        nav(class="welcome__navigation")
                            ul(class="welcome__navigation-list")
                                li(class="welcome__navigation-item")
                                    a(class="welcome__navigation-link" href="works.html") Мои работы
                                li(class="welcome__navigation-item")
                                    a(class="welcome__navigation-link" href="about.html") Обо мне
                                li(class="welcome__navigation-item")
                                    a(class="welcome__navigation-link" href="blog.html") Блог
                footer(class="welcome__footer")
                    p(class="welcome__footer-signature") © Омельченко Степан | создано с любовью в LoftSchool | 2018
    include ../common/pantry-socials.pug
                    