extends ../template 

block varibles
    -var title="My works"
block content
    div.wrapper
        section.section.works-first
            include ../common/hero
            +hero("hero__next", "common")
        .works-second
            .works-second__traingle
                include ../common/traingle.pug                
                +traingle("traingles--works")
            .works-second__top
                svg.works-second__top-svg(width="100%")
                    use(xlink:href="img/sprites/sprite.svg#works_header")
                h1.works-second__main-header Мои работы
        section.works-slider.section
            .slider
                .slider__left
                    .slider__left-box
                        .slider__left-info
                            h2.slider__left-header Сайт школы онлайн Образования
                            p.slider__left-text HTML, CSS, JAVASCRIPT
                        a.slider__left-btn(href="#")
                            svg.slider__left-svg(width="20" height="20")
                                use(xlink:href="img/sprites/sprite.svg#link")
                            span.slider__left-span Посмотреть сайт
                .slider__right
                    .slider__current
                        .slider__current-box(style="background-image: url('img/slider/3.png')")
                            img.slider__img(src="img/slider/3.png" alt="my project" hidden)
                    .slider__controls
                        a.slider__down(href="#" style="background-image: url('img/slider/1.png')")
                            .slider__down-btn
                                svg.slider__down-svg(width="43" height="27")
                                    use(xlink:href="img/sprites/sprite.svg#portf_arrow_down")
                        a.slider__up(href="#" style="background-image: url('img/slider/2.png')")
                            .slider__up-btn
                                svg.slider__up-svg(width="43" height="27")
                                    use(xlink:href="img/sprites/sprite.svg#portf_arrow_up")
        section.works-about
            .works-about__rumors
                .works-about__top
                    svg.works-about__top-svg(width="500" height="175")
                        use(xlink:href="img/sprites/sprite.svg#about_header")
                    h2.works-about__header Что обо мне говорят
                .works-about__reviews
                    ul.works-about__reviews-list
                        li.works-about__reviews-item
                            .works-about__reviews-picture(style="background-image: url('img/content/review1.jpg')")
                                img.works-about__reviews-img(hidden src="img/content/review1.jpg", alt="Ковальчук Дмитрий основатель Loftschool")
                            .works-about__reviews-info
                                p.works-about__reviews-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .works-about__reviews-signature 
                                    .works-about__reviews-name Ковальчук Дмитрий
                                    .works-about__reviews-position — основатель Loftschool
                        li.works-about__reviews-item
                            .works-about__reviews-picture(style="background-image: url('img/content/review2.jpg')")
                                img.works-about__reviews-img(hidden src="img/content/review2.jpg", alt="Ковальчук Дмитрий основатель Loftschool")
                            .works-about__reviews-info
                                p.works-about__reviews-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .works-about__reviews-signature
                                    .works-about__reviews-name Сабанцев Владимир
                                    .works-about__reviews-position  — преподаватель
            .works-about__form
                form.form(id="form" method="POST" action="mail.php")
                    h2.form__header Связаться со мной
                    label.form__label(for="name")
                        input.form__input(type="text" name="name" placeholder="Имя")
                    label.form__label(for="email")
                        input.form__input(type="text" name="email" placeholder="Email")
                    textarea.form__textarea(name="text", cols="30", rows="10" placeholder="Ваше сообщение")
                    .form__controls
                        label.form__submit-label
                            span.form__submit-span Отправить
                            input.form__submit(type="submit")
                        label.form__reset-label 
                            span.form__reset-span Очистить
                            input.form__reset(type="reset")
            a.works-about__btn(href="#")
                svg.works-about__btn-svg(width="43" height="27")
                    use(xlink:href="#arrow-down")
        footer.works__footer
            include ../common/footer
        include ../common/pantry-socials.pug