extends ../template 

block varibles
    -var title="My works"
block content
    div.wrapper
        section(class="section works-first")
            include ../common/section-top    
        section(class="section works-second")
            .works-second__traingle
                svg.works-second__svg
                    use(xlink:href="#works__traingle")
            .works-second__top
                //svg.works-second__top-svg(width="100%")
                    //use(xlink:href="img/svg/works_header.svg")
                h1.works-second__main-header Мои работы
            .works-slider
                .slider
                    .slider__left
                    .slider__right
                        .slider__curent
                            img.slider__img
                        .slider__controls
                            a.slider__down(href="#")
                                svg.slider__down-svg(width="43" height="27")
                                    use(xlink:href="#arrow-down")
                            a.slider__up(href="#")
                                svg.slider__up-svg(width="43" height="27")
                                    use(xlink:href="#arrow-down")
        include ../common/pantry-socials.pug
        include ../common/pantry-traingles.pug
        //include ../common/svg-sprite-works.pug