.authorization-btn{
    width: 200px;
    height: 50px;
    border: 1px groove #fff;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'robotomedium', Arial, Helvetica, sans-serif;
    transition: background-color .2s;

    &:hover{
        background-color: #4e8839;
    }

}