.diagrams{


    &__circle-in{
        stroke: #dfdcd5;
        stroke-width: 15;
        fill: none;
    }

    &__circle-out{
        stroke: #6c9c5a;
        stroke-width: 15;
        fill: none;
    }
}

