.socials{

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__item{
        display: inline-block;
        margin: 0 25px;
    }
    
    &__link{
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    
    &__svg{
        height: 24px;
        fill: $white;
        opacity: .5;
      
        &:hover{
            fill: #4e8839;
        }
    }
  }