*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #455a64;
}
  
ul{
    list-style-type: none;
}
  
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section{
    min-height: 650px;
}
  